{
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "forOf": true,
            "spread": true,
            "templateStrings": true,
            "objectLiteralShorthandMethods": true,
            "objectLiteralShorthandProperties": true,
            "arrowFunctions": true,
            "defaultParams": true,
            "destructuring": true
        }
    },
    "plugins": ["react"],
    "rules": {
        "arrow-parens": "off",
        "keyword-spacing": "off",
        "object-curly-spacing": "off",
        "comma-dangle": [
            "error",
            {
                "arrays": "always-multiline",
                "objects": "always-multiline",
                "imports": "always-multiline",
                "exports": "always-multiline",
                "functions": "ignore"
            }
        ],
        "indent": [
            2,
            "tab",
            {
                "MemberExpression": "off",
                "SwitchCase": 1
            }
        ],
        "no-tabs": 0,
        "ignoreComments": 0,
        "no-console": 2,
        "curly": [2, "multi-or-nest", "consistent"],
        "no-trailing-spaces": [
            "error",
            {
                "skipBlankLines": true
            }
        ],
        "brace-style": [
            2,
            "1tbs",
            {
                "allowSingleLine": true
            }
        ],
        "max-len": [
            1,
            {
                "code": 120
            }
        ],
        "new-cap": [
            1,
            {
                "properties": false
            }
        ]
    }
}
